@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --header: #e8e8e8;
  --header-hovers: #aeabab;
  --input: #dccdcd;
  --card: #f2f2f2;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --header: #2f2f2f;
  --header-hovers: #3d3c3c;
  --input: #2d2d2d;
  --card: #1a1a1a;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.card {
  background-color: var(--card);
}

.header {
  background-color: var(--header);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
}

.direction:hover {
  color: var(--foreground);
  background-color: var(--header-hovers);
  transition: background-color 0.3s, color 0.3s;
}

.input-field {
  background-color: var(--input);
  color: var(--foreground);

  border: none;
  transition: background-color 0.3s, color 0.3s;
}

.input-field:focus {
  outline: none;
  background-color: var(--input);
  color: var(--foreground);
  border: none;
  transition: background-color 0.3s, color 0.3s;
}
.input-field::placeholder {
  color: var(--foreground);
  opacity: 0.5;
}

.hide {
  display: none;
}

.scrollbar-none {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}

.scrollbar-none::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
